.header 
   .container 
      .header__menu 
         .header__menu-logo Start Bootstrap 
         ul.header__menu-list 
            li.list__item 
               a(href="#",class="list__item-link") PORTFOLIO
            li.list__item 
               a(href="#",class="list__item-link") ABOUT
            li.list__item 
               a(href="#",class="list__item-link") CONTACT